Flask
# Flask-SQLAlchemy~=2.5.1
Beautifulsoup4
requests
phonenumbers
# gunicorn~=20.1.0
psycopg2-binary
WTForms
Flask-WTF
Flask-Bootstrap
Flask-Login
email-validator
SQLAlchemy
Werkzeug
python-dateutil