{% extends "base_template.html" %}

{% block title %}
    {{ phoneNumber.info.digits }} - Информация о номере
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            {# Номер и рейтинг #}
            <div class="col-lg-6 p-4">
                <p class="h5">Номер:</p>
                <p class="h1">{{ phoneNumber.info.digits }}
                    {% if phoneNumber.overall_rating == 0.0 %}
                        <span class="badge rounded-pill bg-secondary">{{ "%.1f"|format(phoneNumber.overall_rating|float) }}</span>
                    {% elif phoneNumber.overall_rating >= 4.0 %}
                        <span class="badge rounded-pill bg-success">{{ "%.1f"|format(phoneNumber.overall_rating|float) }}</span>
                    {% elif phoneNumber.overall_rating >= 3.0 %}
                        <span class="badge rounded-pill bg-warning">{{ "%.1f"|format(phoneNumber.overall_rating|float) }}</span>
                    {% else %}
                        <span class="badge rounded-pill bg-danger">{{ "%.1f"|format(phoneNumber.overall_rating|float) }}</span>
                    {% endif %}
                </p>
            </div>

            {# Информация о номере #}
            <div class="col-lg-6 p-4">
                {% if phoneNumber.info.description|length %}
                    <p>{{ phoneNumber.info.description }}</p>
                {% endif %}

                {% if phoneNumber.info.categories|length %}
                    <p class="h5">Категории:</p>
                    <p>
                        {% for cat in phoneNumber.info.categories.values() %}
                            <span class="badge rounded-pill bg-primary">{{ cat }}</span>
                        {% endfor %}
                    </p>
                {% endif %}

                <p>
                    {% if phoneNumber.is_actual %}
                        Информация о номере недавно обновлялась ✅
                    {% else %}
                        Информация о номере давно не обновлялась и может быть неактуальной ❌
                    {% endif %}
                </p>
            </div>
        </div>

        {# Актуальные отзывы #}
        <div class="row">
            {% if phoneNumber.actual_reviews|length > 0 %}
                <div class="col-lg-6 p-4">
                    <p class="h5">Отзывы:</p>
                    {% for review in phoneNumber.actual_reviews %}
                        {% with rev = review %}
                            {% include "review.html" %}
                        {% endwith %}
                    {% endfor %}
                </div>
            {% endif %}

            {# Старые отзывы #}
            {% if phoneNumber.old_reviews|length > 0 %}
                <div class="col-lg-6 p-4">
                    <p class="h5">Неактуальные отзывы:</p>
                    {% for review in phoneNumber.old_reviews %}
                        {% with rev = review %}
                            {% include "review.html" %}
                        {% endwith %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}